<div class="mt-4 mb-4 text-left">
<form method="POST">
  <div class="form-row">
    <div class="form-group col-md-6">
      <label for="inputProName">Tên sản phẩm</label>
      <input type="text" class="form-control" id="inputProName" placeholder="Enter product name">
    </div>
    <div class="form-group col-md-6">
      <label for="inputUnitPrice">Giá</label>
      <input type="number" class="form-control" id="inputUnitPrice" placeholder="Enter price">
    </div>
    <div class="form-group col-md-6">
      <label for="inputQty">Số lượng</label>
      <input type="number" class="form-control" id="inputQty" placeholder="Enter qty">
    </div>
    <div class="form-group col-md-6">
      <label for="inputCatName">Danh mục</label>
      {{!-- Chọn danh mục -> list danh mục -> kết bảng --}}
      <input type="text" class="form-control" id="inputCatName">
    </div>
    {{!-- import ảnh --}}
  </div>
  <div class="form-group">
        <div class="form-check">
            <input class="form-check-input" type="checkbox"{{#if product.status}} checked {{/if}} value="1" name="ProStt" id="CatStt">
            <label class="form-check-label" for="invalidCheck">
                Hiển thị
            </label>
            <div class="invalid-feedback">
                vui lòng chọn trạng thái
            </div>
        </div>
    </div>
    <button class="btn btn-primary" type="submit">Ghi</button>
    <a class="btn btn-dark" href="/admin/products">Bỏ qua</a>
</form>
</div>